<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://newsfeelsweb20170415114922.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>newsfeelsweb20170415114922.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>newsFeelsWeb20170415114922</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$newsFeelsWeb20170415114922</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="foo" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="newsFeelsWeb.Models.ApplicationDbContext, newsFeelsWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MovieDBContext" Order="2" Enabled="False">
          <Destination Path="foo" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="newsFeelsWeb.Models.MovieDBContext, newsFeelsWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NewsItemDBContext" Order="3" Enabled="False">
          <Destination Path="foo" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="newsFeelsWeb.Models.NewsItemDBContext, newsFeelsWeb" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="newsFeelsWeb.Models.NewsItemListsDBContext" Order="4" Enabled="False">
          <Destination Path="foo" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="newsFeelsWeb.Models.NewsItemListsDBContext, newsFeelsWeb" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NewsItemDBContextLocal" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="UseDevelopmentStorage=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NewsItemDBContextLocal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="UseDevelopmentStorage=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NewsItemDBContext-Web.config Connection String">
      <ParameterValue>foo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NewsItemDBContextLocal-Web.config Connection String" />
    <MSDeployParameterValue Include="newsFeelsWeb.Models.NewsItemListsDBContext-Web.config Connection String">
      <ParameterValue>foo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MovieDBContext-Web.config Connection String">
      <ParameterValue>foo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>foo</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="newsFeelsWeb.Models.NewsItemListsDBContext" />
  </ItemGroup>
</Project>