@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>NewsFeels groups news of the day based on the general sentiment of the story.  Can't handle more bad news?  Stick with the positive stories.  Want to wallow in the pain of others?  We got that too, you freak.
    </p>
<p>
How ever you want your news to make you feel, we have you covered.
    </p>
