@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4 Goldfield Rd.<br />
    Honolulu, HI 96815<br />
    <abbr title="Phone">P:</abbr>
    226.906.2721
</address>

<address>
    <strong>News desk:</strong>   <a href="mailto:NewsFeels@apemojo.com">NewsFeels@apemojo.com</a><br />
</address>