<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=newsfeels;AccountKey=+ReIVjvgiHXbzJruOUsNR2gDpGIGB+ZGT+1xvYbnuJACYF+11SJDCbLNPMqY64JRGUh2m7/c+d3ORqA+T4Xc3A==;EndpointSuffix=core.windows.net" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />

  <add key="NEWSSEARCH_KEY" value="a5916b6db4db495f8e35b372818afd44" />
  <add key="TEXTANALYTICS_KEY" value="8d4e7662a3344473b59448cfdc70dc37" />
  
</appSettings> 